{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<h1>Voce Esta Logado</h1>
{% else %}
<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>
<form method="POST" action="{% url 'login' %}">
  {% csrf_token %}

  <div class="mb-3">

    <input type="text" class="form-control" name="username"
    placeholder="Escreva seu nome de usuario!">
</div>
  <div class="mb-3">

    <input type="password" class="form-control"
    name="password" placeholder="Escreva sua senha!">
  </div>
<br/>
  <button type="submit" class="btn btn-primary">Submeter</button>
</form>
</div>
{% endif %}
{% endblock %}
